<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... other head elements ... -->

  <!-- Securely include trackJS token using a data attribute -->
  <meta name="trackjs-token" content="<%= htmlWebpackPlugin.options.trackJSToken %>">

  <script src="/env.js"></script>
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <!-- Load TrackJS without the token in the script tag -->
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <script>
    // Safely retrieve the token from the meta tag and configure TrackJS
    var trackJsToken = document.querySelector('meta[name="trackjs-token"]').getAttribute('content');
    if (trackJsToken) {
      window._trackJs = { token: trackJsToken };
    }
  </script>
  <% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
</html>